@using TicketStore_Web_Api.Controllers
@using TicketStore_Web_Api.Features.DtoModels.UserOrder

@model EditUserOrder

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .CheckEmailBody {
            display: flex;
            background-color: aliceblue;
            margin: 0;
            padding: 0;
            height: 100vh; /* Высота окна браузера */
            justify-content: center;
/*             align-items: center; /* Центрировать элементы по вертикали */ */
        }

        .CheckEmailForm {
            display: inline-block;
            width: 250px; /* Ширина формы */
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .CheckEmailText {
            margin-bottom: 20px;
/*             width: 100%; /* Ширина блока с текстом */ */
        }

        .CheckBox{
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .CheckEmailBox {
            margin-bottom: 20px;
            width: 100%; /* Ширина блока с полем ввода */
        }

        .CheckEmailBut {
            width: 100%; /* Ширина блока с кнопкой */
        }

        .user-btn {
            background: #222222;
            padding: 10px 25px;
            border-radius: 4px;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

            .user-btn:hover {
                background-color: #CCCCCC;
            }
    </style>
</head>
<div class="CheckEmailBody">
    <div class="CheckEmailForm">
        @if(Model.IsnUser == Guid.Empty)
        {
            @using (Html.BeginForm(nameof(UserOrderController.CheckEmailTodDel), UserOrderController.UserOrder, FormMethod.Post))
            {
                @Html.HiddenFor(model => model.OrderNum)
                @Html.HiddenFor(model => model.ClientEmail)
                <div class="CheckEmailText">
                    <h2>Вам на Email @Model.ClientEmail был выслан код подтверждения</h2>
                </div>
                <div class="CheckBox">
                    <p>Введите код <span>(введите 2222)</span></p>
                    <div class="CheckEmailBox">
                        @Html.TextBox("code", null, new { @class = "form-control" })
                    </div>
                    <div class="CheckEmailBut">
                        <button type="submit" class="user-btn">Продолжить</button>
                    </div>
                </div>
            }
        }
        else
        {
            @using (Html.BeginForm(nameof(UserOrderController.CheckEmailToChange), UserOrderController.UserOrder, FormMethod.Post))
            {
                @Html.HiddenFor(model => model.OrderNum)
                @Html.HiddenFor(model => model.ClientEmail)
                @Html.HiddenFor(model => model.IsnUser)
                <div class="CheckEmailText">
                    <h2>Вам на Email @Model.ClientEmail был выслан код подтверждени</h2>
                </div>
                <div class="CheckBox">
                    <p>Введите код <span>(введите 2222)</span></p>
                    <div class="CheckEmailBox">
                        @Html.TextBox("code", null, new { @class = "form-control" })
                    </div>
                    <div class="CheckEmailBut">
                        <button type="submit" class="user-btn">Продолжить</button>
                    </div>
                </div>
            }
        }
    </div>
</div>
</html>