@using TicketStore_Web_Api.Controllers
@using TicketStore_Web_Api.Features.DtoModels.UserOrder

@model EditUserOrder

<!DOCTYPE html>
<html lang="en">

<style>
    .UserInfoBody {
        display: flex;
        justify-content: center;
/*         align-items: center; */
        height: 100vh;
		background-color:aliceblue;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .container {
        text-align: center;
    }

    .UserInfoContainerBox {
		background-color: rgba(255, 255, 255, 0.8);
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .UserInfoBox {
        display: flex;
/*         align-items: center; */
        margin-bottom: 10px;
    }

    .UserInfoBox div {
        flex: 1;
    }

    .UserInfoBox div:first-child {
        width: 200px;
        font-weight: bold;
    }

    .UserModeInfo {
        text-align: left;
    }

    .OrderNum {
        margin-top: 10px;
        font-weight: bold;
    }

	.UserModeInfo p{
		color:coral;
	}
</style>
<div class="UserInfoBody">
	<div class="container">
		<h2>Инфорамация о заказе</h2>
		<div class="UserInfoContainerBox">
			<div class="UserInfoBox">
				<div class="UserName">Ваше имя:</div>
				<div class="UserModeInfo">@Model.ClientName</div>
			</div>
			<div class="UserInfoBox">
				<div class="UserSurname">Ваша фамилия:</div>
				<div class="UserModeInfo">@Model.ClientSurname</div>
			</div>
			<div class="UserInfoBox">
				<div class="UserLastName">Ваше отчество:</div>
				<div class="UserModeInfo">@Model.ClientLastName</div>
			</div>
			<div class="UserInfoBox">
				<div class="UserEmail">Ваш Email:</div>
				<div class="UserModeInfo">@Model.ClientEmail</div>
			</div>
			<div class="UserInfoBox">
				<div class="ConcetName">Концерт:</div>
				<div class="UserModeInfo">@Model.ConcertName</div>
			</div>
			<div class="UserInfoBox">
				<div class="OrderStatus">Статус заказа:</div>
				<div class="UserModeInfo"><p>@Model.OrderStatus</p></div>
			</div>
			<div class="UserInfoBox">
				<div class="OrderNum">Номер заказа</div>
				<div class="UserModeInfo">
					<div class="orderNum">@Model.OrderNum</div>
					<div>Запомните номер заказа, мы его вам также прислали на Email!</div>
				</div>
				
			</div>
		</div>
	</div>
</div>