@using TicketStore_Web_Api.Controllers
@using TicketStore_Web_Api.Features.DtoModels.User
@model EditUser

<!DOCTYPE html>
<html lang="en">
<style>
	.register_body{
        background-color: aliceblue;
		;
		margin: 0;
		padding: 0;
		height: 100%;
	}


    .user-btn{
        background: #222222;
        padding: 10px 25px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 15px;
        margin-right: 10px;
        text-decoration: none;
        border:none;
        transition: background-color 0.3s ease;
    }

        .user-btn:hover {
        color: #222222;
        background-color: #CCCCCC;
    }
</style>
<body class="register_body">
    <div class="OrderInfocontainer">
        <h2>Личная информация</h2>
        @using (Html.BeginForm(nameof(ManageController.CreateUserView), ManageController.Manage, FormMethod.Post))
        {
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        @Html.LabelFor(x => x.ClientName, "Имя")
                        @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control mt-2" }) <!-- Добавляем отступ между лейблом и текстовым полем -->
                        @Html.ValidationMessageFor(x => x.ClientName)
                    </div>
                    <div class="form-group mb-4">
                        @Html.LabelFor(x => x.ClientSurname, "Фамилия")
                        @Html.TextBoxFor(x => x.ClientSurname, new { @class = "form-control mt-2" }) <!-- Добавляем отступ между лейблом и текстовым полем -->
                        @Html.ValidationMessageFor(x => x.ClientSurname)
                    </div>
                    <div class="form-group mb-4">
                        @Html.LabelFor(x => x.ClientLastName, "Отчество")
                        @Html.TextBoxFor(x => x.ClientLastName, new { @class = "form-control mt-2" }) <!-- Добавляем отступ между лейблом и текстовым полем -->
@*                         @Html.ValidationMessageFor(x => x.ClientLastName) *@
                    </div>
                    <div class="form-group mb-4">
                        @Html.LabelFor(x => x.ClientEmail, "E-mail")
                        @Html.TextBoxFor(x => x.ClientEmail, new { @class = "form-control mt-2" }) <!-- Добавляем отступ между лейблом и текстовым полем -->
                        @Html.ValidationMessageFor(x => x.ClientEmail)
                    </div>
                    <button type="submit" class="user-btn">Продолжить</button>
                </div>
            </div>
        }
    </div>
</body>
