@using TicketStore_Web_Api.Controllers
@using TicketStore_Web_Api.Features.DtoModels.Order
@model EditOrder

<style>

    .makeOrderBody {
        display: flex;
        justify-content: center;
/*         align-items: center; */
        height: 100vh; 
        background-color: aliceblue;
    }


    .ConcertBlocks {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .ItemConcert {
        margin: 10px;
        padding: 20px; 
        border-radius: 10px; 
        background-color: #f0f0f0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        min-width:350px;
        transition: transform 0.3s ease;
    }

        .ItemConcert p {
            font-weight: bold; 
            font-size: 18px; 
        }

        .ItemConcert:hover {
            transform: scale(1.1);
        }

    .btn {
        display: none; 
        margin-top: 20px; 
    }

</style>

<body class="makeOrderBody">
    <div class="container">
        <h2>Выберите концерт</h2>
        @using (Html.BeginForm(nameof(OrdersController.CreateOrderView), OrdersController.Orders, FormMethod.Post))
        {
            @Html.HiddenFor(x => x.IsnUser)
           <div class="ConcertBlocks d-flex justify-content-center">
                @for (var i = 0; i < @Model.concerts.Count; i++)
                {
                    @if (@Model.AvaibleTicetNow[i] > 0)
                    {
                        <div class="ItemConcert mx-2 p-3 rounded">
                            <p>@Model.concerts[i].ConcertName</p>
                            <div class="concert_info">
                                Свободные места: @Model.AvaibleTicetNow[i]
                            </div>
                            <div class="concert_info">
                                Цена билета: @Model.concerts[i].TicketPrice RUB
                            </div>
                            @Html.RadioButtonFor(model => model.ConcertName, @Model.concerts[i].ConcertName)
                        </div>
                    }
                }
            </div> 
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Продолжить</button>
            </div>
        }
    </div>

    <script>
        // Показать кнопку, когда хотя бы один радио-баттон выбран
        document.addEventListener('change', function (event) {
            if (event.target.matches('input[type="radio"]')) {
                var btn = document.querySelector('.btn');
                btn.style.display = 'block';
            }
        });
    </script>

</body>